# Environment
python-dotenv

# LangChain
langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-mistralai
langchain-huggingface

# Mistral AI
mistralai

# Embeddings
sentence-transformers
transformers


# Vector Stores
chromadb


# Document Loaders
pypdf
pdfplumber
python-docx
unstructured
beautifulsoup4


# Utilities
tqdm
requests

